{
  "RedisHost": "REDISHOST",
  "Token": "TOKEN",
  "JabberDomain": "JABBERDOMAIN",
  "RestUser": "RESTUSER",
  "RestPass": "RESTPASS",
  "RestURL": "RESTURL",
  "RestQueue": "RESTQUEUE",
  "ResponseQueue": "RESPONSEQUEUE"
}
