{
  "MaxIdleConnections": 20
  "RequestTimeout": 10
  "RedisHost": "localhost:6379",
  "RedisDatabase": 0,
  "RedisPoolCount": 30,
  "RedisNamespace": "",
  "ProcessID": "1",
  "Token": "security-token-random",
  "JabberDomain": "jabberdomain.org",
  "RestUser": "admin@jabberdomain.org",
  "RestPass": "mypass",
  "RestURL": "https://jabberdomain.org/rest",
  "RestQueue": "myRest",
  "ResponseQueue": "myResponse",
  "Concurrency": 30,
  "Stats": false,
  "StatsPort": 8080
}